.banner {
  margin-top: 6em;
}

.banner .icon-box {
  margin-bottom: 2em;
  font-size: .9em;
  text-align: center;
}

.banner table {
  width: 80%;
  text-align: center;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .banner .banner-left-container,
  .banner .banner-middle-container,
  .banner .banner-right-container {
      float: none;
      text-align: center !important;
      justify-content: center !important;
  }

  .banner .table-large-view {
    display: none !important;
  }

  .banner .banner-medium-view {
    display: block;
  }
}

@media (min-width: 768px) {
  .banner .table-large-view {
    display: block;
  }

  .banner .banner-medium-view {
    display: none !important;
  }
}