ul.bullet-checked-green {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-gap: 1em;
}

ul.bullet-checked-green li {
    display: grid;
    grid-template-columns: 0 1fr;
    grid-gap: 2.2em;
    align-items: start;
    font-size: .9em;
}

ul.bullet-checked-green li::before {
    content: "\2713";
    line-height: 0.75em;
    padding: .4em 1.2em .4em .4em;
    color: #fff;
    background-color: #00b652;
    border-radius: 50%;
    font-size: .9em;
    font-weight: bold;
}

ul.bullet-checked-green li:first-child {
    margin-top: .8em;
}