.contact {
    padding: 3.8em 0 2.3em;
    background-color: #00a2f3;
    color: white;
}

.contact p {
    font-size: 1.3em;
}

@media (max-width: 768px) {
    .contact .chat-button-container {
        float: none;
        text-align: center !important;
        justify-content: center !important;
    }
}