#footer {
  background: #303030;
  padding-top: 5em;
  padding-bottom: .1em;
  color: #bbb;
  font-size: .8em;
  line-height: 24px;
}

#footer .separator {
  height: .1em;
  background-color: #292929;
}

#footer .copyright {
  margin: 2em 0 2.5em;
  font-size: .9em;
}

#footer .footer-links {
  margin-bottom: 3em;
}

#footer h4 {
  font-size: 1.1em;
  font-weight: bold;
  color: #777;
  margin-bottom: 1.5em;
}

#footer a {
  display: inline-block;
  color: #bbb;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
}

#footer a:hover {
  color: #fff;
}


/* --- newsletter --- */
#footer .newsletter-box {
  margin-bottom: 3em;
}

#footer .newsletter-box .newsletter-email-container {
  position: relative;
}

#footer #newsletter-email-container input#email {
  width: 100%;
  padding: .75em 9.3em .75em .5em;
  border: 0;
}

#footer #newsletter-email-container input#email:active {
  outline: 0 !important;
  box-shadow: none !important;
  -webkit-appearance: none;
}

#footer #newsletter-email-container button {
  padding: .3em .7em;
  position: absolute;
  top: .35em;
  right: .3em;
  background-color: #00a2f3;
  border: 1px solid #00a2f3;
  font-style: normal;
  color: white;
}

.footer .newsletter-box .footer-newsletter-info {
  margin-top: .5em;
  color: #6e6e6e;
  font-size: 1em;
}

/* --- payment icons --- */
#footer .payment-button-container p {
  color: #6e6e6e;
}

#footer .payment-button-container img {
  width: 6em;
  height: 3em;
  margin-right: .8em;
}

#footer .payment-icon {
  margin-bottom: .5em;
  padding: .5em;
  border: 1px solid #bbb;
  border-radius: .3em
}


/* --- social networks --- */
button.btn-social-network {
  width: 2.2em;
  border: 2px solid #bbb;
  border-radius: 50%;
  color: #bbb;
  font-size: 1.6em;
}

button.btn-social-network:hover {
  border: 2px solid #bbb;
  color: #303030;
  background-color: #bbb;
}

@media (max-width: 768px) {
  #footer .copyright, #footer {
    float: none;
    text-align: center;
  }
}
