.pricing {
  margin-top: 4em;
}

.pricing .box {
    padding: 3px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  
  .pricing .box h3 {
    font-weight: 400;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #777777;
    background: #f8f8f8;
  }
  
  .pricing .box h4 {
    margin-bottom: 20px;
  }
  
  .pricing .box h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }
  
  .pricing .box h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
  }
  
  .pricing .box ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }
  
  .pricing .box ul li {
    padding-bottom: 16px;
  }
  
  .pricing .old-price {
    text-decoration: line-through;
    font-size: .9em;
  }
  
  .pricing .btn-wrap {
    padding: 20px 15px;
    text-align: center;
  }
  
  .pricing .featured h3 {
    color: #fff;
    background: #106eea;
  }

  .pricing .box-best-seller {
      border: 1px solid #106eea;
      border-radius: .4em;
  }
  
  .pricing .best-seller-ribbon {
    width: 150px;
    position: absolute;
    top: 1em;
    left: -40px;
    transform: rotate(-45deg);
    z-index: 1;
    font-size: 14px;
    padding: 10px 5px 10px 0;
    background: #00b652;
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
  }

  .pricing .box-best-seller .header-best-seller {
      background-color: #008fee;
      color: #fff;
  }

  .pricing .box-best-seller .header-best-seller .package-title {
    padding: 10px 15px 0 15px;
    font-weight: bold;
    font-size: 1.25em;
  }

  .pricing .box-best-seller .user-count {
    background-color: #106eea;
    padding: .5em;
    font-size: .9em;
  }