.stable-hosting {
  margin-top: 4em;
}

.stable-hosting .content p {
  font-size: .8em;
}

.stable-hosting .content p.second-title {
  font-size: 1.8em;
}

.stable-hosting .share-container-box {
  font-weight: bold;
  padding-top: 1.3em;
  padding-bottom: 1em;
}

.stable-hosting .count-box {
  border: 1px solid #b4b4b9;
  border-radius: .3em;
  padding: .3em .8em ;
  color: #b4b4b9;
}

@media (max-width: 768px) {
  #stable-hosting .share-container-box, #stable-hosting .social-media-icons {
      float: none;
      text-align: center !important;
      justify-content: center !important;
  }
}