@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Light.otf") format("opentype"),
       url("../fonts/montserrat/Montserrat-Hairline.otf") format("opentype"),
       url("../fonts/montserrat/Montserrat-Bold.otf") format("opentype"),
       url("../fonts/montserrat/Montserrat-Black.otf") format("opentype"),
       url("../fonts/montserrat/Montserrat-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/montserrat/Montserrat-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype"),
       url("../fonts/roboto/Roboto-Medium.ttf") format("truetype"),
       url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"),
       url("../fonts/roboto/Roboto-Italic.ttf") format("truetype"),
       url("../fonts/roboto/Roboto-Black.ttf") format("truetype"),
       url("../fonts/roboto/Roboto-Thin.ttf") format("truetype"),
       url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

body {
  font-family: "Montserrat", "Roboto", sans-serif;
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold", "Roboto-Bold", sans-serif;
  font-weight: bold;
}

p.notabene {
  font-size: .75em;
}

#btn-choose-hosting {
  margin-top: 1.2em;
}

.btn-with-padding {
  padding-left: 2em;
  padding-right: 2em;
}

.green-icon i:before {
  color: #00b652;
}

.font-bold {
  font-weight: bolder;
}

i.fa-facebook-square {
  color: #23599b;
  font-size: 2.5em;
}

i.fa-twitter-square {
  color: #00aef1;
  font-size: 2.5em;
}

i.fa-google-plus-square {
  color: #fc4a35;
  font-size: 2.5em;
}

.color-light-blue {
  color: #00a2f3
}


/* --- preloader --- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #106eea;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}


/* --- header ---*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  height: 86px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.fixed-top {
  height: 70px;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #222222;
}

#header .logo a span {
  color: #106eea;
}

#header .logo img {
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}


/* --- section --- */
.section-bg {
  background-color: #f6f9fe;
}

.section-title {
  text-align: center;
}

.section-title p.subtitle {
  font-size: 1.4em;
}

.section-title .second-title {
  font-size: 1.8em;
  text-align: center;
  margin-top: 3.2em;
}

section .content {
  padding-top: 1.5em;
}


@-webkit-keyframes animate-loading {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}