#topbar {
    height: 40px;
    font-size: 12px;
    transition: all 0.5s;
    padding: 0;
}

#topbar .container-topbar {
    height: 100%;
}

#topbar a {
    text-decoration: none;
    color: #444;
}

#topbar .social-links a {
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
    font-size: 1.15em;
}

#topbar .social-links a:hover {
    text-decoration: none;
}

#topbar .topbar-promo {
    position: relative;
}

#topbar .topbar-promo p {
    margin: 0;
    font-size: .95em;
    
}

#topbar .topbar-promo i.bi-bookmark-fill {
    font-style: normal;
    font-size: 4em;
}

#topbar .topbar-promo i.bi-tag-fill {
    position: absolute;
    top: .35em;
    left: .6em;
    font-style: normal;
    font-size: 1.8em;
    color: white;
}