<section id="banner" class="banner section-bg">
  <div class="container" data-aos="fade-up">
    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center table-large-view table-responsive">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td class="col-lg-2 col-md-2 col-sm-2"><embed class="align-items-center" src="assets/svg/illustration_banner_PHP_zenguard01.svg"></td>
                  <td class="col-lg-2 col-md-2 col-sm-2"><embed class="align-items-center" src="assets/svg/icon-composer.svg"></td>
                  <td class="col-lg-2 col-md-2 col-sm-2"><embed class="align-items-center" src="assets/svg/icon_php_hosting_ioncube.svg"></td>
                </tr>

                <tr>
                  <td><p>PHP ZendGuard Loader</p></td>
                  <td><p>PHP Composer</p></td>
                  <td><p>PHP ionCube Loader</p></td>
                </tr>
              </tbody>
            </table>
          </div>


          <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-end align-items-end banner-medium-view banner-left-container" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <embed class="align-items-center" src="assets/svg/illustration_banner_PHP_zenguard01.svg">
              <p>PHP ZendGuard Loader</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center align-items-end banner-medium-view banner-middle-container" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <embed src="assets/svg/icon-composer.svg">
              <p>PHP Composer</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 col-sm-12 d-flex align-items-end banner-medium-view banner-right-container" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <embed src="assets/svg/icon_php_hosting_ioncube.svg">
              <p>PHP ionCube Loader</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>