<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12">
        <p>Perlu <span class="font-bold">BANTUAN?</span> Hubungi Kami : <span class="font-bold">0274-5305505</span></p>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12 d-flex flex-row-reverse chat-button-container">
        <button type="button" class="btn btn-outline-light rounded-pill btn-with-padding">
          <i class="bi bi-chat-fill"></i> Live Chat
        </button>
      </div>

    </div>
  </div>
</section>