<footer id="footer" class="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>HUBUNGI KAMI</h4>
                    <p>
                        0274-5305505<br>
                        Senin - Minggu<br>
                        24 Jam Nonstop<br><br>
                    </p>
                    <p>
                        Jl. Selokan Mataram Monjali<br>
                        Karangjati MT I/304<br>
                        Sinduadi, Mlati, Sleman<br>
                        Yogyakarta 55284
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>LAYANAN</h4>
                    <p>
                        <a href="">Domain</a><br>
                        <a href="">Shared Hosting</a><br>
                        <a href="">Cloud VPS Hosting</a><br>
                        <a href="">Managed VPS Hosting</a><br>
                        <a href="">Web Builder</a><br>
                        <a href="">Keamanan SSL / HTTPS</a><br>
                        <a href="">Jasa Pembuatan Website</a><br>
                        <a href="">Program Afiliasi</a><br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>SERVICE HOSTING</h4>
                    <p>
                        <a href="">Hosting Murah</a><br>
                        <a href="">Hosting Indonesia</a><br>
                        <a href="">Hosting Singapura SG</a><br>
                        <a href="">Hosting PHP</a><br>
                        <a href="">Hosting Wordpress</a><br>
                        <a href="">Hosting Laravel</a><br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>TUTORIAL</h4>
                    <p>
                        <a href="">Knowledgebase</a><br>
                        <a href="">Blog</a><br>
                        <a href="">Cara Pembayaran</a><br>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>TENTANG KAMI</h4>
                    <p>
                        <a href="">Tim Niagahoster</a><br>
                        <a href="">Karir</a><br>
                        <a href="">Events</a><br>
                        <a href="">Penawaran &amp; Promo Spesial</a><br>
                        <a href="">Kontak Kami</a><br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>KENAPA PILIH NIAGAHOSTER?</h4>
                    <p>
                        <a href="">Support Terbaik</a><br>
                        <a href="">Garansi Harga Termurah</a><br>
                        <a href="">Domain Gratis Selamanya</a><br>
                        <a href="">Datacenter Hosting Terbaik</a><br>
                        <a href="">Review Pelanggan</a><br>
                    </p>
                </div>

                <div class="col-lg-6 col-md-12 newsletter-box">
                    <h4>NEWSLETTER</h4>

                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div id="newsletter-email-container" class="newsletter-email-container">
                                <input type="email" id="email" name="email" placeholder="Email" class="rounded-pill">
                                <button id="newsletter-submit" class="rounded-pill">Berlangganan</button>
                            </div>

                            <p class="d-flex footer-newsletter-info">
                                Dapatkan promo dan konten menarik dari penyedia hosting terbaik Anda.
                            </p>
                        </div>
                        
                        <div class="col-lg-2 col-md-4 col-sm-4 text-center">
                            <button class="btn btn-outline-dark btn-social-network">
                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 text-center">
                            <button class="btn btn-outline-dark btn-social-network">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 text-center">
                            <button class="btn btn-outline-dark btn-social-network">
                                <i class="fab fa-google" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="payment-button-container">
                    <h4>PEMBAYARAN</h4>
                    <p>
                        <img src="assets/svg/icon-bca.svg" class="payment-icon">
                        <img src="assets/svg/icon-mandiri.svg" class="payment-icon">
                        <img src="assets/svg/icon-bni.svg" class="payment-icon">
                        <img src="assets/svg/icon-permatabank.svg" class="payment-icon">
                        <img src="assets/svg/icon-mastercard.svg" class="payment-icon">
                        <img src="assets/svg/icon-visa.svg" class="payment-icon">
                    </p>
                    <p>
                        Aktivasi instan dengan e-Payment. Hosting dan domain langsung aktif!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container separator">
    </div>

    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    Copyright &copy; 2016 Niagahoster | Hosting powered by PHP7, CloudLinux, CloudFlare, BitNinja and DC BizNet Technovillage Jakarta
                </div>

                <div class="col-lg-4 col-md-12">
                    <a href="">Syarat dan Ketentuan</a> | <a href="">Kebijakan Privasi</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <p>
                        Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>