<section id="framework-support" class="framework-support section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <p class="second-title">Mendukung Penuh Framework Laravel</p>
    </div>

    <div class="row content">
      <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
        <p>
          Tak perlu menggunakan dedicated server ataupun VPS yang mahal. Layanan PHP hosting murah kami mendukung penuh
          framework favorit Anda.
        </p>

        <table class="table table-borderless green-icon">
          <tbody>
            <tr>
              <td><i class="bi bi-check-circle-fill green-icon"></i></td>
              <td>Install Laravel 1 klik dengan Softaculous Installer.</td>
            </tr>
            <tr>
              <td><i class="bi bi-check-circle-fill"></i></td>
              <td>Mendukung ekstensi PHP MCrypt, phar, mbstring, json, dan fileinfo.</td>
            </tr>
            <tr>
              <td><i class="bi bi-check-circle-fill"></i></td>
              <td>Tersedia Composer dan SSH untuk menginstall packages pilihan Anda.</td>
            </tr>
          </tbody>
        </table>

        <p class="notabene">
          Nb: Composer dan SSH hanya tersedia pada paket Personal dan Bisnis
        </p>
        
        <div class="d-grid gap-2 d-md-block">
          <button id="btn-choose-hosting" class="btn btn-primary btn-lg rounded-pill">Pilih Hosting Anda</button>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
        <img src="assets/svg/illustration_banner_support_laravel_hosting.svg" class="img-fluid" alt="">
      </div>
    </div>

  </div>
</section>