{% extends "main.twig" %}

{% block content %}
    {{ include('jumbotron.twig') }}
    {{ include('banner.twig') }}
    {{ include('pricing.twig') }}
    {{ include('powerful_php_limit.twig') }}
    {{ include('services.twig') }}
    {{ include('framework_support.twig') }}
    {{ include('php_modules.twig') }}
    {{ include('stable_hosting_share.twig') }}
    {{ include('contact.twig') }}
{% endblock %}