<section id="jumbotron" class="jumbotron section-bg">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
        <h1>PHP Hosting</h1>
        <p class="subtitle">Cepat, handal, penuh dengan modul PHP yang Anda butuhkan.</p>

        <ul class="bullet-checked-green">
          <li>Solusi PHP untuk performa query yang lebih cepat.</li>
          <li>Konsumsi memori yang lebih rendah.</li>
          <li>Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6, PHP 7.</li>
          <li>Fitur enkripsi ionCube dan Zend Guard Loaders.</li>
        </ul>
      </div>

      <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
        <img src="assets/svg/illustration_banner_PHP_hosting-01.svg" class="img-fluid" alt="">
      </div>
    </div>

  </div>
</section>