<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fullstack Developer Test - Landing</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/favicon.png" rel="icon">

  {% block stylesheets %}
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/css/all.min.css" rel="stylesheet">

  <link href="assets/css/topbar.css" rel="stylesheet">
  <link href="assets/css/bullet_checked_green.css" rel="stylesheet">
  <link href="assets/css/table.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/navbar.css" rel="stylesheet">
  <link href="assets/css/footer.css" rel="stylesheet">
  <link href="assets/css/jumbotron.css" rel="stylesheet">
  <link href="assets/css/banner.css" rel="stylesheet">
  <link href="assets/css/pricing.css" rel="stylesheet">
  <link href="assets/css/powerful_php_limit.css" rel="stylesheet">
  <link href="assets/css/services.css" rel="stylesheet">
  <link href="assets/css/framework_support.css" rel="stylesheet">
  <link href="assets/css/php_modules.css" rel="stylesheet">
  <link href="assets/css/stable_hosting_share.css" rel="stylesheet">
  <link href="assets/css/contact.css" rel="stylesheet">
  {% endblock %}
</head>

<body>

  {% include('topbar.twig') %}

  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="." class="logo"><img src="assets/images/logo_niagahoster_test.jpg" alt="Niagahoster"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="#">Hosting</a></li>
          <li><a class="nav-link scrollto" href="#">Domain</a></li>
          <li><a class="nav-link scrollto" href="#">Server</a></li>
          <li><a class="nav-link scrollto" href="#">Website</a></li>
          <li><a class="nav-link scrollto" href="#">Afiliasi</a></li>
          <li><a class="nav-link scrollto" href="#">Promo</a></li>
          <li><a class="nav-link scrollto" href="#">Pembayaran</a></li>
          <li><a class="nav-link scrollto" href="#">Review</a></li>
          <li><a class="nav-link scrollto" href="#">Kontak</a></li>
          <li><a class="nav-link scrollto" href="#">Blog</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <main id="main">

    {% block content %}
    {% endblock %}

  </main>

  {% include('footer.twig') %}

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/js/main.js"></script>

</body>

</html>