<section id="php-modules">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <p class="second-title">Modul Lengkap untuk Menjalankan Aplikasi PHP Anda</p>
    </div>

    <div class="row d-flex justify-content-center content">
      <div class="col-lg-10 col-md-10 offset-lg-1">
        <div class="row">
          {% for module in contentModules.data %}
          <div class="col-lg-3 col-md-6 col-sm-6">
            {{ module }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="mt-5 d-md-block text-center">
        <button class="btn btn-outline-dark rounded-pill">Selengkapnya</button>
      </div>
    </div>
  </div>
</section>