<section id="php-limit" class="php-limit">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <p class="second-title">Powerful dengan Limit PHP yang Lebih Besar</p>
    </div>

    <div class="row">
      <div class="col-lg-5 offset-lg-1 col-md-1 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <table class="table table-striped green-icon">
          <tbody>
            <tr>
              <td><i class="bi bi-check-circle-fill"></i></td>
              <td>max execution time 300s</td>
            </tr>
            <tr>
              <td><i class="bi bi-check-circle-fill"></i></td>
              <td>max execution time 300s</td>
            </tr>
            <tr>
              <td><i class="bi bi-check-circle-fill"></i></td>
              <td>php memory limit 1024 MB</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-lg-5 col-md-1 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <table class="table table-striped green-icon">
          <tbody>
            <tr>
              <td><i class="bi bi-check-circle-fill"></i></td>
              <td>post max size 128 MB</td>
            </tr>
            <tr>
              <td><i class="bi bi-check-circle-fill"></i></td>
              <td>upload max file size 128 MB</td>
            </tr>
            <tr>
              <td><i class="bi bi-check-circle-fill"></i></td>
              <td>max input vars 2500</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>