<div class="box">
    <h3>{{ package.name }}</h3>
    <span class="old-price">Rp. {{ package.original_price }}</span>
    <h4><sup>Rp</sup>{{ package.current_price }}<span> / {{ package.period }}</span></h4>

    <p>{{ package.user_count }} Pengguna Terdaftar</p>

    <ul>
        {% for feature in package.features %}
        <li>{{ feature|raw }}</li>
        {% endfor %}
    </ul>

    <div class="btn-wrap">
        {% if package.discount > 0 %}
        <a href="#" class="btn btn-outline-dark rounded-pill">Diskon {{ package.discount }}%</a>
        {% else %}
        <a href="#" class="btn btn-outline-dark rounded-pill">Pilih Sekarang</a>
        {% endif %}
    </div>
</div>