<div class="box">
    <div class="box-best-seller">

        <div class="header-best-seller">
            <p class="package-title">{{ package.name }}</p>

            <p class="old-price">
            {# Rp. {{ package.original_price|package_price }} #}
            </p>

            <p>
            <sup>Rp</sup> <span style="font-size:30px;">38</span><sup>.000 / {{ package.period }}</sup>
            </p>

            <p class="user-count">
                {{ package.user_count }} Pengguna Terdaftar
            </p>
        </div>

        <ul>
            {% for feature in package.features %}
            <li>{{ feature|raw }}</li>
            {% endfor %}
        </ul>

        <div class="btn-wrap">
            {% if package.discount > 0 %}
                <a href="#" class="btn-buy">Diskon {{ package.discount }}%</a>
            {% else %}
                <a href="#" class="btn btn-primary rounded-pill">Pilih Sekarang</a>
            {% endif %}
        </div>
    </div>

    <span class="best-seller-ribbon">Best Seller!</span>
</div>