    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-12 col-md-12 section-title">
            <h3>Paket Hosting Singapura yang Tepat</h3>
            <p class="subtitle">Diskon 40% + Domain dan SSL Gratis untuk Anda</p>
          </div>
        </row>

        <div class="row">
          {% for package in contentPackages.data %}
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                {% if package.is_best_seller > 0 %}
                  {{ include('pricing-best-seller.twig') }}
                {% else %}
                  {{ include('pricing-regular.twig') }}
                {% endif %}
            </div>
          {% endfor %}
        </div>

      </div>
    </section>