<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <p class="second-title">Semua Paket Hosting Sudah Termasuk</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><img src="assets/svg/icon_PHP_Hosting_PHP_Semua_Versi.svg"></div>
          <h5>PHP Semua Versi</h5>
          <p>Pilih mulai dari PHP versi 5.3 s/d 7.<br>Ubah sesuka Anda!</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><img src="assets/svg/icon_PHP_Hosting_MySQL.svg"></div>
          <h5>MySQL Versi 5.6</h5>
          <p>Nikmati MySQL versi terbaru, tercepat dan kaya akan fitur.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><img src="assets/svg/icon_PHP_Hosting_CPanel.svg"></div>
          <h5>Panel Hosting cPanel</h5>
          <p>Kelola website dengan panel canggih yang familiar di hati Anda.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><img src="assets/svg/icon_PHP_Hosting_garansi_uptime.svg"></div>
          <h5>Garansi Uptime 99.9%</h5>
          <p>Data center yang mendukung kelangsungan website Anda 24/7.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><img src="assets/svg/icon_PHP_Hosting_InnoDB.svg"></div>
          <h5>Database InnoDB Unlimited</h5>
          <p>Jumlah dan ukuran database yang tumbuh sesuai kebutuhan Anda.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><img src="assets/svg/icon_PHP_Hosting_MySQL_remote.svg"></div>
          <h5>Wildcard Remote MySQL</h5>
          <p>Mendukung s/d 25 max_user_connections dan 100 max_connections.</p>
        </div>
      </div>
    </div>

  </div>
</section>