<section id="stable-hosting" class="stable-hosting section-bg">
  <div class="container" data-aos="fade-up">

    <div class="row content">
      <div class="col-lg-6 pt-4 pt-lg-0 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
        <p class="second-title">
          Linux Hosting yang stabil dengan teknologi LVE
        </p>
        <p>
          SuperMicro Intel Xeon 24-Cores server dengan RAM 128 GB dan teknologi LVE CloudLinux untuk stabilitas server Anda.
          Dilengkapi dengan SSD untuk kecepatan MySQL dan caching, Apache load balancer berbasis LiteSpeed Technologies, CageFS
          security, Raid-10 protection dan auto backup untuk keamanan website PHP Anda.
        </p>
        
        <div class="d-grid gap-2 d-md-block" style="border-radius:100px;">
          <button id="btn-choose-hosting" class="btn btn-primary btn-lg rounded-pill">Pilih Hosting Anda</button>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
        <img src="assets/images/Image_support.png" class="img-fluid" alt="">
      </div>
    </div>

    <div class="row share-container-box">
      <div class="col-lg-6 col-md-12">
        <p>Bagikan jika Anda menyukai halaman ini.</p>
      </div>

      <div class="col-lg-6 col-md-12 d-flex align-items-center social-media-icons">
        <i class="fab fa-facebook-square"></i>&nbsp;<span class="count-box">80k</span>&nbsp;&nbsp;
        <i class="fab fa-twitter-square"></i>&nbsp;<span class="count-box">450</span>&nbsp;&nbsp;
        <i class="fab fa-google-plus-square"></i>&nbsp;<span class="count-box">1900</span>
      </div>
    </div>

  </div>
</section>