<section id="topbar" class="topbar d-flex align-items-center">
    <div class="container container-topbar d-flex justify-content-md-between">

        <div class="topbar-promo d-flex align-items-center">
            <i class="bi bi-bookmark-fill d-flex align-items-center color-light-blue"></i>
            <i class="bi bi-tag-fill d-flex align-items-center"></i>
            <p>
            Gratis Ebook 9 Cara Cerdas Menggunakan Domain &nbsp; <a href="#">[ x ]</a>
            </p>
        </div>

        <div class="social-links d-none d-md-flex align-items-center">
            <a href="#"><i class="bi bi-telephone-fill"></i> 0274-5305505</a>
            <a href="#"><i class="bi bi-chat-fill"></i> Live Chat</a>
            <a href="http://localhost:8004"><i class="bi bi-person-circle"></i></i> Member Area</a>
        </div>

    </div>
</section>